body {
  background-color: #104f55;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #9EC5AB;
  font-family: 'Dosis', sans-serif;
}

section {
  display: flex;
  justify-content: space-around;
}
img {
  display: block;
  max-height: 300px;
  border: 10px solid #32746D;
}

div {
  margin: auto;
  display: block;
  width: 50%;
}

#view-results-btn {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 5px solid #32746D;
  margin-top: 30px;
  font-size: 40px;
  color: #9EC5AB;
  font-family: 'Dosis', sans-serif;
}
