body {
  background-color: #104f55;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #9EC5AB;
  font-family: 'Dosis', sans-serif;
}

section {
  display: flex;
  justify-content: space-around;
}
img {
  max-height: 500px;
  border: 10px solid #32746D;
}

#view-results-btn {
  text-align: center;
  border: 10px solid #32746D;
  margin-top: 30px;
  font-size: 60px;
  color: #9EC5AB;
  font-family: 'Dosis', sans-serif;
}
